.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 52px 26px;
}

a:hover {
  text-decoration: underline;
}

.loading_spinner-wrap {
  width: 100%;
  padding: 50px 0;
}

.loading_spinner {
  display: block;
  margin: 0 auto;
  fill: #000;
}

.loading_spinner circle {
    animation-name: upAndDown;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.05, 0.2, 0.35, 1);
    animation-iteration-count: infinite;
}

.loading_spinner circle:nth-child(2) {
  animation-delay: 0.18s;
}

.loading_spinner circle:nth-child(3) {
  animation-delay: 0.36s;
}

@keyframes upAndDown {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  25% {
    opacity: 1;
    transform: translateY(-10px);
  }
  75% {
    opacity: 1;
    transform: translateY(-10px);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

.container {
  position: relative;
  height: 64vh;
  /* height: 45vh; */
  max-width: 800px;
  margin-bottom: 5vh;
  border-radius: 3px;
}

@media (min-width: 769px) {
  .container {
    margin: 2.5rem auto;
  }
}

.choice-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.question {
  margin: 0;
  padding: 0.5rem 2.5rem 1.5rem 2.5rem;
}

/* .choice-item {
  border-top: 1px solid #eee;
} */

.choice-item:hover {
  background-color: #eefbfe;
}

.radioCustomButton, .radioCustomButtonSuccess {
  position: absolute;
  width: auto;
  opacity: 0;
}

.radioCustomButton,
.radioCustomButtonSuccess,
.radioCustomLabel {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.radioCustomLabel {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 1.5rem 0 1.5rem 0;
  line-height: 1.5;
}

.radioCustomButton ~ .radioCustomLabel:before, .radioCustomButtonSuccess ~ .radioCustomLabel:before {
  position: absolute;
  top: 20px;
  left: 38px;
  width: 28px;
  height: 28px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 50%;
  transition: all 0.3s;
}

.radioCustomButton:checked ~ .radioCustomLabel:before, .radioCustomButtonSuccess:checked ~ .radioCustomLabel:before {
  content: '';
  background: #776859 url(./img/icon-check.svg) no-repeat;
  background-size: 27px;
  border-color: #776859;
}

.radioCustomButtonSuccess:checked ~ .radioCustomLabel:before {
  content: '';
  background: #77b723 url(./img/icon-check.svg) no-repeat;
  background-size: 27px;
  border-color: #6aa71a;
}

/* Animation */
.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.3s;
}

.fade-leave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}