.meter { 
    display: flex;
	background: #777;
	/* background: rgb(236, 227, 218); */
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
    border-radius: 25px;
    height: 20px;
    /* position: relative; */
    /* bottom: 0vh; */
    /* position: fixed; */
    /* bottom: 10vh; */
    width: 40%;
    margin: 0 auto;

    flex-direction: column;
    /* -webkit-box-align: center; */
    /* align-items: center; */
    /* -webkit-box-pack: center; */
    justify-content: center;
    /* margin: 25px 0px; */
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  /* background-color: rgb(236, 227, 218); */
  background-color: #555;
  background-image: linear-gradient(
    center bottom,
    rgb(236, 227, 218) 37%,
    rgb(236, 227, 218) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
  -webkit-transition: width 1s ease;
  -o-transition: width 1s ease;
  transition: width 1s ease;
}

.meter > span:after, .animate > span > span {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: linear-gradient(
    -45deg, 
    rgba(255, 255, 255, .2) 25%, 
    transparent 25%, 
    transparent 50%, 
    rgba(255, 255, 255, .2) 50%, 
    rgba(255, 255, 255, .2) 75%, 
    transparent 75%, 
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  /* animation: move 2s linear infinite; */
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.animate > span:after {
  display: none;
}

.meter > span:after, .animate > span > span {
  animation: move 2s linear infinite;
  -webkit-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.orange > span {
  background-color: #f1a165;
  background-image: linear-gradient(to bottom, #f1a165, #f36d0a);
}

.red > span {
  background-color: #f0a3a3;
  background-image: linear-gradient(to bottom, #f0a3a3, #f42323);
}

.green > span {
  background-color: green;
  background-image: linear-gradient(to bottom, green, green);
}


.clear {
    background-color: rgb(239, 234, 229)
}
.clear > span {
    background-color: #d4c7b9;
    background-image: linear-gradient(to bottom, rgb(239, 234, 229), #d4c7b9);
}